<div class="container mt-4">
  <div class="p-fluid grid">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid grid">
        <div class="field col-12">
          <h1 class="title">Retrouvez Votre Mot De Passe</h1>
          <p>
            Votre Mot De Passe Doit Être Sécurisé Et Contenir Au Moins 8
            Caractères
          </p>
        </div>
        <div class="field col-12 mt-2 mb-0">
          <p-password
            placeholder="Saisissez votre mot de passe"
            formControlName="password"
            [toggleMask]="
              resetPasswordForm.get('password')?.dirty?.toString() == 'true'
            "
            [class]="
              resetPasswordForm.get('password')?.invalid &&
              resetPasswordForm.get('password')?.touched &&
              resetPasswordForm.get('password')?.errors?.required
                ? 'form-control is-invalid'
                : resetPasswordForm.get('password')?.valid
                ? 'form-control is-valid'
                : ''
            "
          >
            <ng-template pTemplate="header">
              <h6>Pick a password</h6>
            </ng-template>
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p class="mt-2">Suggestions</p>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                <li>At least one lowercase</li>
                <li>At least one uppercase</li>
                <li>At least one numeric</li>
                <li>Minimum 8 characters</li>
              </ul>
            </ng-template>
          </p-password>
          <span
            class="text-danger error_message"
            *ngIf="
              resetPasswordForm.get('password')?.invalid &&
              resetPasswordForm.get('password')?.touched &&
              resetPasswordForm.get('password')?.errors?.required
            "
            >Password is required</span
          >
        </div>
        <div class="field col-12 mt-2 mb-0">
          <p-password
            formControlName="confirmPassword"
            placeholder="Confirmer votre mot de passe"
            [feedback]="false"
            [toggleMask]="
              resetPasswordForm.get('confirmPassword')?.dirty?.toString() ==
              'true'
            "
            [class]="
              resetPasswordForm.controls.confirmPassword.errors?.mustMatch
                ? 'form-control is-invalid'
                : resetPasswordForm.get('confirmPassword')?.invalid &&
                  resetPasswordForm.get('confirmPassword')?.touched &&
                  resetPasswordForm.get('confirmPassword')?.errors?.required
                ? 'form-control is-invalid'
                : ''
            "
          ></p-password>
          <span
            class="text-danger error_message"
            *ngIf="resetPasswordForm.controls.confirmPassword.errors?.mustMatch"
          >
            Password doesn't match
          </span>
          <span
            class="text-danger error_message"
            *ngIf="
              resetPasswordForm.get('confirmPassword')?.invalid &&
              resetPasswordForm.get('confirmPassword')?.touched &&
              resetPasswordForm.get('confirmPassword')?.errors?.required
            "
            >Password is required</span
          >
        </div>
        <div class="field col-12">
          <button
            [disabled]="resetPasswordForm.invalid"
            class="btn w-100"
            type="submit"
          >
            <span>Changer mot de passe</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
