<p>Demande de retrait espèces</p>
<p-checkbox
  name="Signature client"
  value="Présence transcription manuscrite du nom et prenom du client indiqué sur document"
  label="Présence transcription manuscrite du nom et prenom du client indiqué sur document"
></p-checkbox>

<p-checkbox
  name="Document Physique"
  value="Présence Support physique conforme"
  label="Présence Support physique conforme"
></p-checkbox>

<p-checkbox
  name="Confromité Trace Machine"
  value="Numéro de caisse valide"
  label="Numéro de caisse valide"
></p-checkbox>
<p>Bulletin de versement espèces</p>
<p-checkbox
  name="Données Client"
  value="Présence Informations"
  label="Présence Informations"
></p-checkbox>
<p-checkbox
  name="Données Client"
  value="Montant en lettre indiqué"
  label="Montant en lettre indiqué"
></p-checkbox>
<p-checkbox
  name="Données Client"
  value="Date indiqué"
  label="Date indiqué"
></p-checkbox>
<p-checkbox
  name="Données Client"
  value="Identité Partie versante indiqué"
  label="Identité Partie versante indiqué"
></p-checkbox>
<p-checkbox
  name="Données Client"
  value="Numéro de Compte indiqué"
  label="Numéro de Compte indiqué"
></p-checkbox>
<p-checkbox
  name="Données Client"
  value="Identité bénéficiaire indiqué"
  label="Numéro de Compte indiqué"
></p-checkbox>
<p>Bordereau de remise de chèques à l’encaissement</p>
