.vertical-center {
  margin: 0;
  position: absolute;
  top: 25%;
  bottom: 50%;
  left: 15%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button {
  background: linear-gradient(#0d1a6b, #1a33d5);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 160px;
  height: 47px;
}

.button-disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.container-table {
  width: 1200px;
}

.wrong {
  font-size: 2rem;
  color: #aa1317;
}

.valid {
  font-size: 2rem;
  color: #0db021;
}
