<div class="row g-0">
  <div class="col-md-6">
    <div class="clip-path-shadow">
      <div class="left_side">
        <div class="title_container">
          <div class="first_title text_center">Bienvenue à</div>
          <div class="second_title text_center">DEMAT</div>
          <div class="third_title text_center">
            Connectez-vous pour accéder à votre compte
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="right_side">
      <div class="container text_center form_container">
        <img src="../../../../assets/images/auth/logo.png" class="logo_login mt-2" alt="" />
        <router-outlet>


          
        </router-outlet>
      </div>
    </div>
  </div>
</div>
